.colorButtonYellow,
.colorButtonGreen {

  border : none;
  padding: 0.8rem 1.6rem;

  border-radius: 5rem;

  transition: 0.3s all;

  &:hover {
    filter: brightness(0.8)
  }
}

.colorButtonYellow {
  background-color: var(--yellow-300);
  color           : var(--green-500);
}

.colorButtonGreen {

  background-color: var(--green-200);
  color           : var(--white-100);
}