.containerSection {

  display       : flex;
  flex-direction: column;
  position      : relative;

  min-height : 100vh;
  padding-top: 5rem;

  .contenteHeaderSection {
    padding: 5rem 8rem 0rem 8rem;
    color  : var(--green-500);

    h1 {
      font-size: 4.6rem;
    }

    ul {
      list-style: none;
      font-size : 2.5rem;

      margin-top: 2rem;
    }
  }

  .containerHome,
  .containerSimulateHiring,
  .containerPlans {
    background-repeat    : no-repeat;
    background-size      : cover;
    background-position  : center 20rem;
    background-attachment: fixed;
    min-height           : calc(100vh - 5rem);
  }

  .containerHome {
    background-image: url('../../public/images/background.svg');
  }

  .containerSimulateHiring,
  .containerPlans {
    background-image: url('../../public/images/background-ligth.svg');
  }

  .containerSimulateHiring {
    .originDestinationContainer {
      margin-top    : 2rem;
      display       : flex;
      flex-direction: column;

      p {
        color    : var(--black-700);
        font-size: 2.2rem;
      }

      .originDestinationContente {
        margin-top           : 1rem;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 1rem;

        input {
          width  : 100%;
          padding: 1rem;

          border-radius: 0.5rem;
          border       : 0.1rem solid var(--gray-200);
        }
      }
    }

    .availablePlans,
    .rangeMinutesSection {
      display       : flex;
      flex-direction: column;
      align-items   : center;

      margin-top: 2rem;
      margin    : 2rem 2rem 0;

      .titleAvailablePlans,
      .titleRangeMinutes {
        color    : var(--black-700);
        font-size: 1.8rem;
      }

      .plans {
        display   : flex;
        margin-top: 1rem;

        input[type=radio] {
          -webkit-appearance: none;
        }

        input[type=radio]:checked+label {
          background: var(--green-200);
          color     : var(--white-100);
          box-shadow: 0 1.5rem 4.5rem rbga(0, 0, 0, 0.5);
        }

        label {
          border: 0.1rem solid var(--green-200);

          background-color: var(--white-100);
          border-radius   : 0.5rem;
          width           : 16rem;
          height          : 12rem;
          padding         : 1rem;

          display        : flex;
          flex-direction : column;
          justify-content: center;
          align-items    : center;

          transition: 0.3s;

          font-size: 3.2rem;

          cursor: pointer;

          p {
            font-size  : 3.2rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;

            span {
              font-size     : 1.2rem;
              text-transform: lowercase;
            }
          }

          &+input[type=radio] {
            margin-right: 2rem;
          }
        }
      }

      .rangeWrap {
        width   : 50rem;
        position: relative;

        margin-top: 5rem;

        input[type=range] {
          -webkit-appearance: none;
          margin            : 2rem 0;
          width             : 100%;
        }

        input[type=range]:focus {
          outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
          width        : 100%;
          height       : 0.25rem;
          cursor       : pointer;
          animate      : 0.2s;
          background   : var(--green-200);
          border-radius: 2.5rem;

          &::after {
            content: 'min'
          }
        }

        input[type=range]::-webkit-slider-thumb {
          height            : 2rem;
          width             : 2rem;
          border-radius     : 50%;
          background        : var(--white-100);
          box-shadow        : 0 0 0.4rem 0 rgba(0, 0, 0, 1);
          cursor            : pointer;
          -webkit-appearance: none;
          margin-top        : -0.8rem;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
          background: var(--green-200);
        }

        .rangeValue {
          position: absolute;
          top     : -50%;

          padding      : 1rem;
          text-align   : center;
          background   : var(--green-200);
          color        : var(--white-100);
          font-size    : 1.6rem;
          display      : block;
          position     : absolute;
          left         : 50%;
          transform    : translate(-50%, -50%);
          border-radius: 0.6rem;

          &::after {
            content  : 'min';
            font-size: 1.2rem;
          }

          &::before {
            content     : "";
            position    : absolute;
            width       : 0;
            height      : 0;
            border-top  : 1rem solid var(--green-200);
            border-left : 0.5rem solid transparent;
            border-right: 0.5rem solid transparent;
            top         : 100%;
            left        : 50%;
            margin-left : -0.5rem;
            margin-top  : -0.1rem;
          }
        }
      }
    }

    .resultSimulate {
      display              : grid;
      grid-template-columns: repeat(2, 1fr);
      gap                  : 1rem;
      max-width            : 100rem;
      justify-content      : center;
      margin               : 0 auto;
      margin-top           : 3rem;

      div {
        padding      : 2rem;
        width        : 100%;
        border       : 0.1rem solid var(--green-200);
        border-radius: 0.5rem;

        position: relative;

        background-color: var(--white-100);

        p {
          span {
            font-size  : 2.4rem;
            font-weight: 600;
          }
        }

        p:first-child {
          padding-top: 0;
        }

        p:last-of-type {
          font-size  : 4rem;
          font-weight: 600;
        }

        .logoFale {
          font-size  : 4rem;
          font-weight: 600;
          color      : inherit;
        }

        Button {
          width : 20rem;
          bottom: 0;
          margin: 1rem 1rem 1rem auto;
        }
      }
    }
  }

  Button {
    position: absolute;
    bottom  : 5rem;
    left    : 0;
    right   : 0;

    display: block;
    margin : 0 auto;

    max-width: 30rem;
  }
}

.logoFale {
  font-family   : 'Audiowide', cursive;
  text-transform: uppercase;
  color         : var(--green-200);
}