.containerSection {

  display       : flex;
  flex-direction: column;
  position      : relative;

  min-height : 100vh;
  padding-top: 5rem;

  .contenteHeaderSection {
    padding: 5rem 3rem 3rem 8rem;
    color  : var(--green-500);

    h1 {
      font-size: 5.6rem;
    }

    ul {
      list-style: none;
      font-size : 3rem;

      margin-top: 2rem;
    }
  }

  .containerHome,
  .containerSimulateHiring,
  .containerPlains {
    background-repeat    : no-repeat;
    background-size      : cover;
    background-position  : center 20rem;
    background-attachment: fixed;
    min-height           : calc(100vh - 5rem);
  }

  .containerHome {
    background-image: url('../../public/images/background.svg');
  }

  .containerSimulateHiring,
  .containerPlains {
    background-image: url('../../public/images/background-ligth.svg');
  }

  .containerSimulateHiring {
    .originDestinationContainer {
      margin-top    : 3rem;
      display       : flex;
      flex-direction: column;

      p {
        color    : var(--black-900);
        font-size: 2.4rem;
      }

      .originDestinationContente {
        margin-top           : 1rem;
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 1rem;

        input {
          width  : 100%;
          padding: 1rem;

          border-radius: 0.5rem;
          border       : 1px solid var(--gray-200);
        }
      }
    }

    .availablePlans {
      display        : flex;
      justify-content: center;

      input[type=radio] {
        -webkit-appearance: none;
      }

      input[type=radio]:checked+label {
        background: var(--green-200);
        color     : var(--white-100);
        box-shadow: 0 15px 45px rbga(0, 0, 0, 0.5);
      }

      label {
        border: 0.1rem solid var(--green-200);

        background-color: var(--white-100);
        border-radius   : 0.5rem;
        width           : 16rem;
        height          : 12rem;
        padding         : 1rem;

        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;

        transition: 0.3s;

        font-size: 3.2rem;

        cursor: pointer;

        p {
          font-size  : 3.2rem;
          font-family: 'Poppins', sans-serif;
          font-weight: 600;

          span {
            font-size     : 1.2rem;
            text-transform: lowercase;
          }
        }

        &+input[type=radio] {
          margin-right: 2rem;
        }
      }
    }

    .resultSimulate {
      display              : grid;
      grid-template-columns: repeat(2, 1fr);
      gap                  : 1rem;
      max-width            : 100rem;
      justify-content      : center;
      margin               : 0 auto;
      margin-top           : 3rem;

      div {
        padding      : 2rem;
        width        : 100%;
        border       : 0.1rem solid var(--green-200);
        border-radius: 0.5rem;

        position: relative;

        background-color: var(--white-100);

        p {
          padding-top: 1rem;

          span {
            font-size  : 2.4rem;
            font-weight: 600;
          }
        }

        p:first-child {
          padding-top: 0;
        }

        p:last-of-type {
          font-size  : 4rem;
          font-weight: 600;
        }

        .logoFale {
          font-size  : 4rem;
          font-weight: 600;
          color      : inherit;
        }

        Button {
          width : 20rem;
          bottom: 0;
          margin: 1rem 1rem 1rem auto;
        }
      }
    }
  }

  Button {
    position: absolute;
    bottom  : 5rem;
    left    : 0;
    right   : 0;

    display: block;
    margin : 0 auto;

    max-width: 30rem;
  }
}

.logoFale {
  font-family   : 'Audiowide', cursive;
  text-transform: uppercase;
  color         : var(--green-200);
}