.containerHeader {
  display : flex;
  position: fixed;
  top     : 0;
  left    : 0;
  right   : 0;

  justify-content: space-between;
  align-items    : center;

  border-bottom   : .2rem solid var(--green-200);
  background-color: var(--black-900);

  height: 8rem;

  padding: 1rem 2rem;

  z-index: 1;

  .contenteMenu {
    display        : flex;
    justify-content: center;
    align-items    : center;

    .logoImage {
      width: 8rem;
    }

    .itemMenu {
      cursor    : pointer;
      list-style: none;
      display   : inline-block;
      color     : var(--white-100);
      margin    : 1rem 2rem;
    }
  }
}