.containerHeader {
  display : flex;
  position: fixed;
  top     : 0;
  left    : 0;
  right   : 0;

  justify-content: space-between;
  align-items    : center;

  background-color: var(--black-900);
  box-shadow      : 0rem 0.2rem 1rem var(--green-500);

  height: 8rem;

  padding: 1rem 2rem;

  z-index: 1;

  .contenteMenu {
    display        : flex;
    justify-content: center;
    align-items    : center;

    .logoImage {
      width: 8rem;
    }

    .itemMenu {
      cursor    : pointer;
      list-style: none;
      display   : inline-block;
      color     : var(--white-100);
      margin    : 1rem 2rem;
    }
  }
}